<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkyPlan 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkyPlan Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome to SkyPlan!</strong>
    <p>Explore airports with Ionic and Angular</p>

    <ion-button expand="full" (click)="goToAirports()">View Airport Details</ion-button>
    <ion-button expand="full" (click)="addFlight()">Add Flight</ion-button>
  </div>
</ion-content>